@font-face {
  font-family: "sans";
  src: url(/assets/font/Sans\ .ttf);
}
  $--color--black-900:#000;
  $--color--black-600:#1b1229;
  $--color--black-300:#A9A9A9;
  $--color--white-900:#fff;
  $--color--pink-500:#e300ec;
  $--color--backGround-body:#0f051d;
  $--color--main-gradient:linear-gradient(to right,#3e00fa,#7e00f7,#a600f3,#c700ef,#e300ec);
  $--color--main-toBottom-gradient:linear-gradient(to bottom,#3e00fa,#7e00f7,#a600f3, #c700ef,#e300ec);
  $--color--backGround-gradient-header:linear-gradient(to bottom,#120648,#12073d,#120732,#120627,#0f051d);

