* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
    font-family: "sans";
    font-size: 16px;
    text-decoration: none;
    list-style-type: none;
    scroll-behavior: smooth;
  }
  a {
    color: inherit;
  }
  body {
    background-color:$--color--backGround-body;
  }

  /* animations */

/* header animations */
@keyframes upAndDownY {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

/* section1 animations*/
@keyframes upAndDownX {
  0% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(-2px);
  }

}


/* sections  animations*/
.loader {
  position: absolute;
  top: calc(30% - 1vw);
  left: calc(40% - 1vw);
  width: 20vw;
  height: 20vw;
  color:$--color--white-900;
  .inner {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;  
  }
  .inner.one {
    left: 0%;
    top: 0%;
    animation: rotate-one 1s linear infinite;
    border-bottom: 3px solid $--color--pink-500;
  }
  .inner.two {
    right: 0%;
    top: 0%;
    animation: rotate-two 1s linear infinite;
    border-right: 3px solid $--color--pink-500;
  }
  .inner.three {
    right: 0%;
    bottom: 0%;
    animation: rotate-three 1s linear infinite;
    border-top: 3px solid $--color--pink-500;
  }
}
@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
